In [ ]:
import numpy as np
import pandas as pd
import datetime
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df_train = pd.read_excel('/content/drive/MyDrive/KPI_train_new.xlsx', index_col=0)
df_train

              label  year  month  ...    win_3_mean   trend_win3   z_score
value                             ...
41062.000000      0  2018     12  ...  41522.000000  -460.000000  1.038317
40928.000000      0  2018     12  ...  41205.666667  -277.666667  0.961162
40915.000000      0  2018     12  ...  40968.333333   -53.333333  0.903275
40846.000000      0  2018     12  ...  40896.333333   -50.333333  0.885714
40800.000000      0  2018     12  ...  40853.666667   -53.666667  0.875307
...             ...   ...    ...  ...           ...          ...       ...
980.530954        1  2019      1  ...   1648.859467  -668.328513  0.602373
34.024575         1  2019      1  ...     40.059146    -6.034571 -0.102082
2157.467904       1  2019      1  ...    719.155968  1438.311936  5.731634
1737.753166       1  2019      1  ...   1808.249298   -70.496133  0.808414
25.134569         1  2019      1  ...     62.436841   -37.302272 -2.634734

[140756 rows x 44 columns]

In [ ]:
df_test = pd.read_excel('/content/drive/MyDrive/KPI_test_new.xlsx', index_col=0)

In [ ]:
df_test.reset_index(inplace=True)
df_train.reset_index(inplace=True)

In [ ]:
train_X = df_train.drop('label', axis=1)
train_Y = df_train['label']
test_X = df_test.drop('label', axis=1) #17136筆test data
test_Y = df_test['label'] #394個異常data

In [ ]:
!pip install catboost

Collecting catboost
  Downloading catboost-0.26.1-cp37-none-manylinux1_x86_64.whl (67.4 MB)
     |████████████████████████████████| 67.4 MB 28 kB/s
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.2)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (1.3.3)
Installing collected packages: catboost
Successfully installed catboost-0.26.1

In [ ]:
from catboost import  CatBoostClassifier ,Pool

In [ ]:
params = {'loss_function':'Logloss',
          'eval_metric':'AUC',
          'verbose': 50,#200
          'random_seed': 2021
          #'learning_rate': 0.03
         }

In [ ]:
params = {
                'n_estimators':5000,
                'learning_rate': 0.04,
                'eval_metric':'F1',
                'loss_function':'Logloss',
                'random_seed':2021,
                'metric_period':500,
                'od_wait':500,
                #'task_type':'GPU',
                'depth': 8,
                #'colsample_bylevel':0.7,
                }

In [ ]:
params ={ 'loss_function' : "Logloss",
                           'eval_metric':"F1",
                           #'task_type="GPU",
                           'learning_rate':0.01,
                           'iterations':10000,
                           'random_seed':42,
                           'od_type':"Iter",
                           'depth':10,
                           'early_stopping_rounds':500
}

In [ ]:
 model = CatBoostClassifier(**params)

In [ ]:
model.fit(train_X, train_Y)

Learning rate set to 0.085178
0:	total: 127ms	remaining: 2m 6s
50:	total: 3.64s	remaining: 1m 7s
100:	total: 7.13s	remaining: 1m 3s
150:	total: 10.5s	remaining: 59.2s
200:	total: 14s	remaining: 55.6s
250:	total: 17.4s	remaining: 52s
300:	total: 20.8s	remaining: 48.3s
350:	total: 24.1s	remaining: 44.6s
400:	total: 27.4s	remaining: 40.9s
450:	total: 30.4s	remaining: 37s
500:	total: 33.4s	remaining: 33.3s
550:	total: 36.5s	remaining: 29.7s
600:	total: 39.5s	remaining: 26.2s
650:	total: 42.6s	remaining: 22.8s
700:	total: 45.6s	remaining: 19.4s
750:	total: 48.6s	remaining: 16.1s
800:	total: 51.6s	remaining: 12.8s
850:	total: 54.5s	remaining: 9.55s
900:	total: 57.5s	remaining: 6.32s
950:	total: 1m	remaining: 3.12s
999:	total: 1m 3s	remaining: 0us

In [ ]:
pre = model.predict(test_X)

In [ ]:
from sklearn.metrics import make_scorer,f1_score

In [ ]:
f1_score(test_Y, pre)

0.7784730913642052

In [ ]:
from sklearn.metrics import classification_report
print("report:\n",classification_report(test_Y,pre))

report:
               precision    recall  f1-score   support

           0       1.00      0.99      0.99     16742
           1       0.77      0.79      0.78       394

    accuracy                           0.99     17136
   macro avg       0.88      0.89      0.89     17136
weighted avg       0.99      0.99      0.99     17136

In [ ]:
from sklearn.metrics import confusion_matrix, roc_auc_score

In [ ]:
confusion_matrix(test_Y,pre) #F1: 0.7784

array([[16648,    94],
       [   83,   311]])

In [ ]:
confusion_matrix(test_Y,pre) #F1: 0.7784

array([[16648,    94],
       [   83,   311]])

In [ ]:
model.plot_importance(clf, max_num_features=25)

AttributeError: ignored